.link {
    font-size: 1.4rem;
    padding: spacing(1.5);
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
    &:hover {
        color: $primary;
        background-color: map-get($background, hover);
    }

    &--active {
        color: $primary;
    }
}
