@font-face {
    font-family: 'Geist Mono VF';
    font-style: normal;
    src: url(../../fonts/GeistMonoVF.woff) format('woff');
}

@font-face {
    font-family: 'Geist VF';
    font-style: normal;
    src: url(../../fonts/GeistVF.woff) format('woff');
}
