* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    font-family: 'Geist Mono VF';
    background-color: map-get($background, black);
    color: map-get($text, light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Geist VF';
    font-size: 1.6rem;
}

p,
span {
    font-size: 1.4rem;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.body-container {
    position: fixed;
    inset: 0;
    z-index: map-get($z-index, body-container);
    overflow: auto;
}

.primary-color {
    color: $primary;
}
